@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #0f172a;
    /* Match theme.palette.background.default */
    color: #f8fafc;
    /* Match theme.palette.text.primary */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
    width: 100%;
}